*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(255, 255, 255);
    /* max-width: 1200px; */
}
header{
    display: flexbox;
    flex-wrap: wrap;
}
.header_part{
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px;

}
.title{
    margin: 30px 20px 0px 20px;
    font-size:200%;
    color: green;
    font-weight: bold;
}
.line_title{
    margin: 5px 20px 20px 20px;
    width: auto;
    height: 2px;
    border: 2px solid green;
    background: green;
}
img{
    height: 70px;
    float: right;
    z-index: -50;
}
main{
    background: rgb(255, 252, 255);
    min-height: 300px;
    width: 95%;
    min-width: 200px;
    margin: 20px auto;
    border-radius: 50px;
    opacity: 0.65;
    justify-content: center;
    box-shadow: 0 2px 12px 5px rgba(11, 11, 221, 0.493);
}
.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.information > *{
    /* flex-basis: 100%; */
    flex: 1 1 30%;
    /* flex-shrink: 1; */
}

#nom, #prenom, #dateAbsence, #dateAbsenceDu, #dateAbsenceAu, #heureDe, #heureA, #NumAbsence{
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
}
#listeDeroulante{
    min-width: 150px;
    font-weight: lighter;
    height: 25px;
    padding-left: 5px;

}
.information, .motif-absence{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin: auto;
    width: 90%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    max-height:fit-content;
    justify-content: space-between;
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
}
.motif-absence{
    flex-direction: column;
    gap: 0;
    padding: 0 20px;
}
.infoDemande{
    display: flex;
    gap: 1em;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.infoDemandeJour{
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    min-height: 60px;
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
}
.infoDemandeJours{
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    min-height: 60px;
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
}
.para, .titre-motif{
    font-weight: bold;
    width: 90%;
    margin: 20px;
}

#heureDe, #heureA, #NumAbsence{
    width: 50px;
}

.btn-json{
    border: 2px solid green;
    border-radius: 20px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px green;
    cursor: pointer;
    background-color: rgb(155, 221, 155);
    margin: 20px;
}
.hide{
    max-height: 0;
    overflow: hidden;
    max-width: 0;
}
.hide.active{
    max-width: fit-content;
    max-height: fit-content;
}
.class-motif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px green;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.topTitle{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px 50px 0 50px;
    border-bottom: 2px solid green;
}
.titres-motif{
    position: relative;
    list-style: none;
    min-height: 30px;
    font-weight: bolder;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 83, 19, 0.219);
    margin: 20px;
    padding: 10px 5px;
}
.radio-button{
    position: relative;
    list-style: none;
    min-height: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 20px;
    /* width: 100%; */
    padding: 5px 20px;
    /* border: 1px solid green; */
    box-shadow: 0 0 10px green;
}
.radio-button:hover, .btn-json:hover{
    background-color: rgb(197, 240, 197);
}

.buttonContainer{
    width: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.valide{
    border: 2px solid green;
    border-radius: 20px;
    width: 50%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: rgb(155, 221, 155);
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
    cursor: pointer;
}
.valide:hover{
    background-color: rgb(197, 240, 197);
}

/* *****************************Media Querie************************************* */

@media screen and (max-width: 670px) {
    .information{
        margin: auto;
        width: auto;
    }
    .infoDemande{
        flex-wrap: wrap;
    }
    .flex-container-table{
        flex-wrap: wrap;
    }
    .partie1{
        margin-bottom: 20%;
    }
    .partie2{
        margin: auto;
        width: auto;
    }
    .partie3{
        display: block;
        margin: auto;
        width:auto;
    }.topTitle{
        margin: 30px 40px 0 40px;

    }
}

/* *****************************Animation des bubbles************************************* */

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    /* opacity à zero qu'il faut rendre à 1 après */
    opacity: 0;
    /* forwards in the end of animation is for that the bubble does not disappear */
    animation: anim 10s forwards;
    /* pour que la couleur se change */
    filter: hue-rotate(0deg);
    z-index: -10;
}

@keyframes anim {
    to {
        top: -250px;
        /* insérer une variable pour qu'on puisse utiliser anim en JS */
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}