*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(255, 255, 255);
    /* max-width: 1200px; */
}
header{
    display: flexbox;
    flex-wrap: wrap;
}
.header_part{
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px;

}
.title{
    margin: 30px 20px 0px 20px;
    font-size:200%;
    color: green;
    font-weight: bold;
}
.line_title{
    margin: 5px 20px 20px 20px;
    width: auto;
    height: 2px;
    border: 2px solid green;
    background: green;
}
img{
    height: 70px;
    float: right;
    z-index: -50;
}
main{
    background: rgb(255, 252, 255);
    min-height: 300px;
    width: 95%;
    min-width: 200px;
    margin: 20px auto;
    border-radius: 50px;
    opacity: 0.65;
    justify-content: center;
    box-shadow: 0 2px 12px 5px rgba(11, 11, 221, 0.493);
}
.grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.informationPersonnelle{
    margin-top: 30px;
}
.informationPersonnelle, .informationDuree, .informationMotif, .signature{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    width: 80%;
    border: 2px solid green;
    border-radius: 20px;
    padding: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
}
.signature{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.signature > *{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    border-radius: 20px;
    min-height: 150px;
    width: 300px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 70px;
}
.labels{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}
.heure.active{
    max-height: 0;
    overflow: hidden;
}
.jour.active{
    max-height: 0;
    overflow: hidden;
}

#nom, #nomDeux, #prenom, #dateAbsence, #dateAbsenceDu, #dateAbsenceAu, #heureDe, #heureA, #NumAbsence{
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
}
#listeDeroulante{
    min-width: 150px;
    font-weight: lighter;
    height: 25px;
    padding-left: 5px;
}

.line{
    border: 1px solid gray;
    margin: 10px;
    min-width: 200px;
}

.buttonContainer{
    width: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.valide{
    border: 2px solid green;
    border-radius: 20px;
    width: 50%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: rgb(155, 221, 155);
    box-shadow: 0px 2px 12px 0.5px rgb(2, 82, 26);
    cursor: pointer;
}
.valide:hover{
    background-color: rgb(197, 240, 197);
}


/* *****************************Animation des bubbles************************************* */

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    /* opacity à zero qu'il faut rendre à 1 après */
    opacity: 0;
    /* forwards in the end of animation is for that the bubble does not disappear */
    animation: anim 10s forwards;
    /* pour que la couleur se change */
    filter: hue-rotate(0deg);
    z-index: -10;
}

@keyframes anim {
    to {
        top: -250px;
        /* insérer une variable pour qu'on puisse utiliser anim en JS */
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}